#=================================#
#             Data Base           # 
#=================================#
gif-data.json
image-data.json
image.txt
#=================================#
#          Node Modules           # 
#=================================#
/backend/node_modules