#=================================#
#             Data Base           # 
#=================================#
gif-data.json

#=================================#
#          Node Modules           # 
#=================================#
/node_modules/